**/Makefile
**/Makefile.in
aclocal.m4
autom4te.cache
compile
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
missing
**/.deps
**/.dirstamp
*.o
tags
vban_emitter
vban_receptor
vban_sendtext
*~
NOTES

_build*
build*
_install
.vscode
CMakeLists.txt.user*
